#STLink V2
# > sudo cp 99-openocd.rules /etc/udev/rules.d
# > sudo udevadm control --reload-rules
# > sudo udevadm trigger
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", MODE="664", GROUP="plugdev"
